src/configuracion-inicial.xsd

<?xml version="1.0"?>
 

<!-- xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="http://www.pragmaconsultores.com"
		   xmlns="http://www.pragmaconsultores.com"
		   elementFormDefault="qualified" -->
 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"               
           elementFormDefault="qualified">
    
<xs:annotation>
    <xs:documentation xml:lang="es">
        Esquema para "toolbars" definidas en configuracion-inicial.xml   
    </xs:documentation>
</xs:annotation>

<xs:element name="toolbars">
    <xs:complexType>
        <xs:attribute name="library" use="optional" type="xs:string"/>
        <xs:sequence>
            <xs:element name="toolbar" maxOccurs="unbounded">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:element name="buttons">
                                    <xs:complexType>    
                                        <xs:sequence>
                                            <xs:element name="button" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:attribute name="id" type="xs:integer" use="required"/>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                </xs:complexType>
                        </xs:element>                                            
                        <xs:element name="columns">
                            <xs:complexType>    
                                <xs:sequence>
                                    <xs:element name="column" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:attribute name="property" type="xs:string" use="required"/>
		                                   <xs:attribute name="data-type" use="optional">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="String"/>
                                                        <xs:enumeration value="Number"/>
                                                        <xs:enumeration value="Date"/>  
														<xs:enumeration value="Long"/>                                                  
                                                    </xs:restriction>                                                
                                                </xs:simpleType>
                                            </xs:attribute>                                        
                                            <xs:attribute name="escape-html" use="optional">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="true"/>
                                                        <xs:enumeration value="false"/>                                                    
                                                    </xs:restriction>                                                
                                                </xs:simpleType>
                                            </xs:attribute>  
                                            <xs:attribute name="allow-filtering" use="optional">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="true"/>
                                                        <xs:enumeration value="false"/>                                                    
                                                    </xs:restriction>                                                
                                                </xs:simpleType>
                                            </xs:attribute>  
                                            <xs:attribute name="allow-sorting" use="optional">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="true"/>
                                                        <xs:enumeration value="false"/>                                                    
                                                    </xs:restriction>                                                
                                                </xs:simpleType>
                                            </xs:attribute>  
                                                                                        
                                            <xs:attribute name="visible" use="required">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="true"/>
                                                        <xs:enumeration value="false"/>                                                    
                                                    </xs:restriction>                                                
                                                </xs:simpleType>
                                            </xs:attribute>                                        
                                            <xs:attribute name="title" type="xs:string" use="required"/>
                                            <xs:attribute name="align" use="optional" default="center">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="left"/>
                                                        <xs:enumeration value="center"/>
                                                        <xs:enumeration value="right"/>
                                                    </xs:restriction>                                                
                                                </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="decorator" type="xs:string" use="optional"/>
                                            <xs:attribute name="order" type="xs:positiveInteger" use="optional"/>
                                            <xs:attribute name="orderType" use="optional">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="ascending"/>
                                                        <xs:enumeration value="descending"/>
                                                    </xs:restriction>                                                
                                                </xs:simpleType>
                                            </xs:attribute>                                
                                            <xs:attribute name="showProperty" type="xs:string" use="optional"/>
                                            <xs:attribute name="orderProperty" type="xs:string" use="optional"/>
                                        </xs:complexType>                        
                                    </xs:element>
                                </xs:sequence>                                
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="actions">
                            <xs:complexType>                                  
                                <xs:sequence>
                                    <xs:element name="action" maxOccurs="unbounded">
                                        
                                        <xs:complexType>                            
                                            <xs:attribute name="name" type="xs:string" use="required"/>
                                        </xs:complexType>

                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="title" type="xs:string" use="required"/>
                            </xs:complexType>
                        </xs:element>                                
                    </xs:sequence>
                    
                    <xs:attribute name="id" type="xs:string" use="required"/>
                    <xs:attribute name="paging" use="optional" default="true">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="true"/>
                                        <xs:enumeration value="false"/>
                                    </xs:restriction>                            
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="pageSize" type="xs:positiveInteger" use="required"/>
                            <xs:attribute name="decorator" type="xs:string" use="required"/>
                    		<xs:attribute name="styleClass" type="xs:string" use="required"/>
							<xs:attribute name="queryInvocationHandler" type="xs:string"/>
                </xs:complexType>            	
            </xs:element>            
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>






